@model MrKupido.Model.Ingredient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ingredient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpirationTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpirationTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StorageTemperature)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StorageTemperature)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameEng)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameEng)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameHun)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameHun)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UniqueNameEng)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UniqueNameEng)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UniqueNameHun)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UniqueNameHun)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Index)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Index)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClassName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
