@{
    ViewBag.Title = MrKupido.Web.Resources.Account.LogIn.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/logo_mrkupido_wide.svg" alt="Mr. Kupido" width="600" height="157" />
    </a>
</header>
<div class="description">
    <h2>Szeretnéd receptjeidet tökéletesen rendszerezve látni?<br />
        Keresni közöttük hozzávalók alapján?<br />
        Szeretnéd, ha minden recepted úgy lenne megfogalmazva, hogy akár kezdőként,<br />
        akár mesterszakácsként is egyértelműek legyenek a lépések?</h2>
    <h2>Ha igen, próbáld ki Mr. Kupidót, nem fogsz csalódni!</h2>
    <h3>Jelenleg az oldal tesztelési fázisban van, ezért be kell jelentkezned az alábbi fóikjaid egyikével.</h3>
</div>
@using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @id = "openIdForm" }))
{
    @Html.Hidden("loginType", "")
    <details id="login" open class="alwaysopen">
        <summary>
            <h1>
                @MrKupido.Web.Resources.Account.LogIn.LogInHeader</h1>
            <h2>
                
            </h2>
        </summary>
        <hr />
        <ul>
            <li><a href="javascript:$('#loginType').val('Google'); $('#openIdForm').submit();">@MrKupido.Web.Resources.Account.LogIn.LogInWith
                <img runat="server" src="~/Content/svg/authlogo_google.svg" alt="Google" width="270px" /></a> </li>
            <li><a href="javascript:$('#loginType').val('Facebook'); $('#openIdForm').submit();">@MrKupido.Web.Resources.Account.LogIn.ConnectWith
                <img runat="server" src="~/Content/svg/authlogo_facebook.svg" alt="Facebook" width="270px" /></a> </li>
            <li><a href="javascript:$('#loginType').val('WindowsLive'); $('#openIdForm').submit();">@MrKupido.Web.Resources.Account.LogIn.LogInWith
                <img runat="server" src="~/Content/svg/authlogo_windowslive.svg" alt="Windows Live" width="270px" /></a> </li>
        </ul>
    </details>
}
<hr />