@using MrKupido.Web.Models
@{
    ViewBag.Title = MrKupido.Web.Resources.Account.Profile.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/logo_mrkupido_wide.svg" alt="Mr. Kupido" width="600" height="157" />
    </a>
</header>
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @id = "profileForm" }))
{
    MrKupido.Model.User user = Session.GetCurrentUser();
        
    <div id="profile">
        <details id="basicinfo" open class="alwaysopen">
            <summary>
                <h1>@MrKupido.Web.Resources.Account.Profile.General</h1>
                <h2></h2>
            </summary>
            <ul>
                <li>
                    <div class="label">
                        <label for="language">
                            @MrKupido.Web.Resources.Account.Profile.Language:</label>
                    </div>
                    <div id="language" class="input">
                        <input id="languageHun" name="language" type="radio" value="hu-HU" @(user.CultureName == "hu-HU" ? "checked" : "")/><label for="languageHun">@MrKupido.Web.Resources.Account.Profile.LanguageHun</label>
                        <input id="languageEng" name="language" type="radio" value="en-GB" @(user.CultureName == "en-GB" ? "checked" : "")/><label for="languageEng">@MrKupido.Web.Resources.Account.Profile.LanguageEng</label>
                        <input id="languageDeu" name="language" type="radio" value="de-DE" @(user.CultureName == "de-DE" ? "checked" : "")/><label for="languageDeu">@MrKupido.Web.Resources.Account.Profile.LanguageDeu</label>
                        <input id="languageSpa" name="language" type="radio" value="es-ES" @(user.CultureName == "es-ES" ? "checked" : "")/><label for="languageSpa">@MrKupido.Web.Resources.Account.Profile.LanguageSpa</label>
@*
                        <input id="languageHun" name="language" type="checkbox" value="hu-HU" @(user.CultureName == "hu-HU" ? "checked" : "")/><label for="languageHun">@MrKupido.Web.Resources.Account.Profile.LanguageHun</label>
                        <input id="languageEng" name="language" type="checkbox" value="en-GB" @(user.CultureName == "en-GB" ? "checked" : "")/><label for="languageEng">@MrKupido.Web.Resources.Account.Profile.LanguageEng</label>
                        <input id="languageDeu" name="language" type="checkbox" value="de-DE" @(user.CultureName == "de-DE" ? "checked" : "")/><label for="languageDeu">@MrKupido.Web.Resources.Account.Profile.LanguageDeu</label>
                        <input id="languageSpa" name="language" type="checkbox" value="es-ES" @(user.CultureName == "es-ES" ? "checked" : "")/><label for="languageSpa">@MrKupido.Web.Resources.Account.Profile.LanguageSpa</label>
*@
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="email">
                            @MrKupido.Web.Resources.Account.Profile.Email:</label>
                    </div>
                    <div class="input">
                        <input type="email" id="email" name="email" autocomplete="off" required disabled value='@(user.Email)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="lastname">
                            @MrKupido.Web.Resources.Account.Profile.LastName:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="lastname" name="lastname" autocomplete="off" required pattern="[a-zA-Z\u00E0-\u00FC]+" value='@(user.LastName)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="firstname">
                            @MrKupido.Web.Resources.Account.Profile.FirstName:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="firstname" name="firstname" autocomplete="off" required pattern="[a-zA-Z\u00E0-\u00FC]+" value='@(user.FirstName)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="nickname">
                            @MrKupido.Web.Resources.Account.Profile.NickName:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="nickname" name="nickname" autocomplete="off" required pattern="[a-zA-Z0-9\u00E0-\u00FC]+" value='@(user.NickName)'/>
                    </div>
                </li>
            </ul>
        </details>
        <hr />
        <details id="physicalinfo" open class="alwaysopen">
            <summary>
                <h1>@MrKupido.Web.Resources.Account.Profile.Physical</h1>
                <h2>
                    <a href="~/@Session["Language"]/help/defaultportionsize">@MrKupido.Web.Resources.Account.Profile.PhysicalWhy</a>
                </h2>
            </summary>
            <ul>
                <li>
                    <div class="label">
                        <label for="height">
                            @MrKupido.Web.Resources.Account.Profile.Height:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="height" name="height" autocomplete="off" placeholder="165 cm" pattern="[0-9]+ cm" value='@(user.Height != 0 ? (user.Height * 100).ToString("0 cm") : "")'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="weight">
                            @MrKupido.Web.Resources.Account.Profile.Weight:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="weight" name="weight" autocomplete="off" placeholder="@((61.50f).ToString("0.00")) kg" pattern="[0-9.,]+ kg" value='@(user.Weight != 0 ? user.Weight.ToString("0.00 kg") : "")'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="dateofbirth">
                            @MrKupido.Web.Resources.Account.Profile.DateOfBirth:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="dateofbirth" name="dateofbirth" autocomplete="off" placeholder="1975-05-24" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value='@(user.DateOfBirth.HasValue ? user.DateOfBirth.Value.ToString("yyyy-MM-dd") : "")'/>
                    </div>
                </li>
            </ul>
        </details>
        <hr />
        <div style="display: none">
            <details id="likes" class="alwaysopen">
                <summary>
                    <h1>Mit szeretsz és mit nem?</h1>
                    <h2>
                        <a href="#">Miért hasznos?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <hr class="single" />
            <details id="conditions" class="alwaysopen">
                <summary>
                    <h1>Egészségügyi állapot</h1>
                    <h2>
                        <a href="#">Miért is mondanád el nekünk?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <hr class="single" />
            <details id="advanced" class="alwaysopen">
                <summary>
                    <h1>Haladó beállítások</h1>
                </summary>
                <ul>
                    <li>
                        <div class="label">
                            <label for="betatester">
                                Béta-teszter vagyok:</label>
                        </div>
                        <div class="input">
                            <input type="checkbox" id="betatester" name="betatester" />
                        </div>
                    </li>
                    <li>
                        <div class="label">
                            <label for="githubuser">
                                A GitHub felhasználónevem:</label>
                        </div>
                        <div class="input">
                            <input type="text" id="githubuser" name="githubuser" required value='@(user.FullName)'/>
                        </div>
                    </li>
                </ul>
            </details>
        </div>
    </div>
    <div class="formbuttons">
        <input type="submit" value="@MrKupido.Web.Resources.Account.Profile.Save" />
    </div>

}