@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="400" height="304" />
    </a>
</header>
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @id = "profileForm" }))
{

    <div id="profile">
        <details id="basicinfo" open class="alwaysopen">
            <summary>
                <h1>Általános információk</h1>
                <h2>
                    <a href="#">Miért érdemes kitöltenem?</a>
                </h2>
            </summary>
            <ul>
                <li>
                    <div class="label">
                        <label for="email">
                            Az e-mail címem:</label>
                    </div>
                    <div class="input">
                        <input type="email" id="email" name="email" required disabled value='@(((MrKupido.Model.User)Session["CurrentUser"]).Email)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="lastname">
                            Vezetéknevem:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="lastname" name="lastname" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).LastName)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="firstname">
                            Keresztnevem:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="firstname" name="firstname" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).FirstName)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="nickname">
                            Szólítsatok csak így:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="nickname" name="nickname" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).NickName)'/>
                    </div>
                </li>
            </ul>
        </details>
        <hr class="single" />
        <div style="display: none">
            <details id="physicalinfo">
                <summary>
                    <h1>Fizikai tulajdonságok</h1>
                    <h2>
                        <a href="#">Hol használjuk ezt?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <details id="likes">
                <summary>
                    <h1>Mit szeretsz és mit nem?</h1>
                    <h2>
                        <a href="#">Miért hasznos?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <details id="conditions">
                <summary>
                    <h1>Egészségügyi állapot</h1>
                    <h2>
                        <a href="#">Miért is mondanád el nekünk?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <details id="advanced">
                <summary>
                    <h1>Haladó beállítások</h1>
                </summary>
                <ul>
                    <li>
                        <div class="label">
                            <label for="betatester">
                                Béta-teszter vagyok:</label>
                        </div>
                        <div class="input">
                            <input type="checkbox" id="betatester" name="betatester" />
                        </div>
                    </li>
                    <li>
                        <div class="label">
                            <label for="githubuser">
                                A GitHub felhasználónevem:</label>
                        </div>
                        <div class="input">
                            <input type="text" id="githubuser" name="githubuser" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).FullName)'/>
                        </div>
                    </li>
                </ul>
            </details>
        </div>
    </div>
    <div class="formbuttons">
        <input type="submit" value="Ment" />
    </div>

}