@{
    ViewBag.Title = MrKupido.Web.Resources.Account.Profile.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/logo_mrkupido_wide.svg" alt="Mr. Kupido" width="600" height="157" />
    </a>
</header>
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @id = "profileForm" }))
{

    <div id="profile">
        <details id="basicinfo" open class="alwaysopen">
            <summary>
                <h1>@MrKupido.Web.Resources.Account.Profile.General</h1>
                <h2></h2>
            </summary>
            <ul>
                <li>
                    <div class="label">
                        <label for="email">
                            @MrKupido.Web.Resources.Account.Profile.Email:</label>
                    </div>
                    <div class="input">
                        <input type="email" id="email" name="email" required disabled value='@(((MrKupido.Model.User)Session["CurrentUser"]).Email)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="lastname">
                            @MrKupido.Web.Resources.Account.Profile.LastName:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="lastname" name="lastname" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).LastName)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="firstname">
                            @MrKupido.Web.Resources.Account.Profile.FirstName:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="firstname" name="firstname" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).FirstName)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="nickname">
                            @MrKupido.Web.Resources.Account.Profile.NickName:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="nickname" name="nickname" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).NickName)'/>
                    </div>
                </li>
            </ul>
        </details>
        <hr />
        <details id="physicalinfo" open>
            <summary>
                <h1>@MrKupido.Web.Resources.Account.Profile.Physical</h1>
                <h2>
                    <a href="#">@MrKupido.Web.Resources.Account.Profile.PhysicalWhy</a>
                </h2>
            </summary>
            <ul>
                <li>
                    <div class="label">
                        <label for="height">
                            @MrKupido.Web.Resources.Account.Profile.Height:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="height" name="height" disabled value='@(((MrKupido.Model.User)Session["CurrentUser"]).Height != 0 ? ((MrKupido.Model.User)Session["CurrentUser"]).Height.ToString("0.00 m") : MrKupido.Web.Resources.Account.Profile.Unknown)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="weight">
                            @MrKupido.Web.Resources.Account.Profile.Weight:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="weight" name="weight" disabled value='@(((MrKupido.Model.User)Session["CurrentUser"]).Weight != 0 ? ((MrKupido.Model.User)Session["CurrentUser"]).Weight.ToString("0.00 kg") : MrKupido.Web.Resources.Account.Profile.Unknown)'/>
                    </div>
                </li>
                <li>
                    <div class="label">
                        <label for="dateofbirth">
                            @MrKupido.Web.Resources.Account.Profile.DateOfBirth:</label>
                    </div>
                    <div class="input">
                        <input type="text" id="dateofbirth" name="dateofbirth" disabled value='@(((MrKupido.Model.User)Session["CurrentUser"]).DateOfBirth.HasValue ? ((MrKupido.Model.User)Session["CurrentUser"]).DateOfBirth.Value.ToString("yyyy-MM-dd") : MrKupido.Web.Resources.Account.Profile.Unknown)'/>
                    </div>
                </li>
            </ul>
        </details>
        <hr />
        <div style="display: none">
            <details id="likes">
                <summary>
                    <h1>Mit szeretsz és mit nem?</h1>
                    <h2>
                        <a href="#">Miért hasznos?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <hr class="single" />
            <details id="conditions">
                <summary>
                    <h1>Egészségügyi állapot</h1>
                    <h2>
                        <a href="#">Miért is mondanád el nekünk?</a>
                    </h2>
                </summary>
                <ul>
                    <li></li>
                </ul>
            </details>
            <hr class="single" />
            <details id="advanced">
                <summary>
                    <h1>Haladó beállítások</h1>
                </summary>
                <ul>
                    <li>
                        <div class="label">
                            <label for="betatester">
                                Béta-teszter vagyok:</label>
                        </div>
                        <div class="input">
                            <input type="checkbox" id="betatester" name="betatester" />
                        </div>
                    </li>
                    <li>
                        <div class="label">
                            <label for="githubuser">
                                A GitHub felhasználónevem:</label>
                        </div>
                        <div class="input">
                            <input type="text" id="githubuser" name="githubuser" required value='@(((MrKupido.Model.User)Session["CurrentUser"]).FullName)'/>
                        </div>
                    </li>
                </ul>
            </details>
        </div>
    </div>
    <div class="formbuttons">
        <input type="submit" value="@MrKupido.Web.Resources.Account.Profile.Save" />
    </div>

}