<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/ico" runat="server" href="~/Content/images/mrkupido.ico">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34057275-1']);
        _gaq.push(['_setDomainName', 'mrkupido.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        /* Downloaded from http://www.whatwg.org/specs/web-apps/current-work/reviewer.js */

        function submitReviewComment() {
            var textField = document.getElementById('reviewCommentText');
            var text = textField.value;

            if ((!text) || (text.length <= 15)) return;

            $.ajax({
                url: '@Url.Action("ReportBug", "Base")',
                type: "POST",
                dataType: "html",
                data: {
                    text: text
                },
                success: function () {
                    $('input#reviewCommentButton').attr('disabled', 'disabled');
                    $('input#reviewCommentText').val("");
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    //alert("Error");
                    //alert(xhr);
                    //alert(textStatus);
                    //alert(errorThrown);
                }
            });    // ajax

            textField.focus();
        }

        function reviewCommentChanged(event) {
            var textField = document.getElementById('reviewCommentText');
            var text = textField.value;
            if ((!text) || (text.length <= 15)) {
                $('input#reviewCommentButton').attr('disabled', 'disabled');
                return;
            }

            $('input#reviewCommentButton').removeAttr('disabled');

            if (event.keyCode == 13) { submitReviewComment() };
        }
    </script>

    @RenderSection("scripts", required: false)
    <div class="wrapper">
        @RenderBody()
        <hr class="single" />
        <footer>
            <p>
                <a runat="server" href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName">@MrKupido.Web.Resources.Shared.Layout.Homepage</a>
                |<a runat="server" href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/account/profile">@MrKupido.Web.Resources.Shared.Layout.Profile</a>
                |<a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/account/settings">@MrKupido.Web.Resources.Shared.Layout.Settings</a>
                |<a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/help/disclaimer">@MrKupido.Web.Resources.Shared.Layout.Disclaimer</a>
            </p>
            <p>
                &copy; 2012-@DateTime.Now.Year.ToString() <a href="http://hu.linkedin.com/pub/andras-fuchs/32/355/924">Andras Fuchs</a> @MrKupido.Web.Resources.Shared.Layout.AllRightsReserved</p>
        </footer>
    </div>



    <div id="reviewer" class="on">
        <span id="reviewSection">@MrKupido.Web.Resources.Shared.Layout.ReviewText</span>
        @{ string placeHolderText = MrKupido.Web.Resources.Shared.Layout.ReviewPlaceholder + " v" + (Session["WebAppFileVersion"] as string); }
        <input id="reviewCommentText" placeholder='@placeHolderText' size="60" onkeydown="javascript:reviewCommentChanged(event);">
        <input id="reviewCommentButton" value="@MrKupido.Web.Resources.Shared.Layout.ReviewButton" type="button" disabled="disabled" onclick="javascript:submitReviewComment();">
    </div>

</body>
</html>
