@using MrKupido.Web.Models
@this.ScriptBlock(
    @<script type="text/javascript">

         /* Downloaded from http://www.whatwg.org/specs/web-apps/current-work/reviewer.js */

         function submitReviewComment() {

             $("div#reviewer").animate({ opacity: '0.0' }, 500, "easeInOutCubic", function () {
                 var textField = document.getElementById('reviewCommentText');
                 var text = textField.value;

                 if ((!text) || (text.length <= 1)) return;

                 $.ajax({
                     url: '@Url.Action("ReportBug", "Base")',
                 type: "POST",
                 dataType: "html",
                 data: {
                     text: text
                 },
                 success: function () {
                     $('input#reviewCommentText').val("");
                 }, // success
                 error: function (xhr, textStatus, errorThrown) {
                     //alert("Error");
                     //alert(xhr);
                     //alert(textStatus);
                     //alert(errorThrown);
                 },
                 complete: function () {
                     $("div#reviewer").animate({ opacity: '1.0' }, 500, "easeInOutCubic");
                 }
             });    // ajax

                 textField.focus();
             });

        }

        function reviewCommentChanged(event) {
            var textField = document.getElementById('reviewCommentText');
            var text = textField.value;
            if ((!text) || (text.length <= 1)) {
                $('input#reviewCommentButton').attr('disabled', 'disabled');
                return;
            }

            $('input#reviewCommentButton').removeAttr('disabled');

            if (event.keyCode == 13) { submitReviewComment() };
        }


        idleTime = 0;
        $(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval("timerIncrement()", 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        })

        function timerIncrement() {
            idleTime = idleTime + 1;
        }
    </script>
)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
   
    <link runat="server" href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css">
    <link runat="server" href="~/Content/themes/base/jquery.ui.slider.css" rel="stylesheet" type="text/css">
    <link runat="server" href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
@*    <link rel="stylesheet" href="~/Content/css/Print.css" type="text/css" media="print" />*@

    <link rel="icon" type="image/ico" runat="server" href="~/Content/images/mrkupido.ico">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <script type="text/javascript" async>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34057275-1']);
        _gaq.push(['_setDomainName', 'mrkupido.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

    <div class="wrapper">
        @RenderBody()
        <hr class="single" />
        <footer>
            <p>
                <a runat="server" href="~/@Session["Language"]">@MrKupido.Web.Resources.Shared.Layout.Homepage</a>
                |<a runat="server" href="~/@Session["Language"]/account/Profile">@MrKupido.Web.Resources.Shared.Layout.Profile</a>
                |<a href="mailto:help@mrkupido.com">@MrKupido.Web.Resources.Shared.Layout.Contact</a>
                |<a runat="server" href="~/@Session["Language"]/help/PrivacyPolicy">@MrKupido.Web.Resources.Shared.Layout.Disclaimer</a>
            </p>
            <p>
                &copy; 2012-@DateTime.Now.Year.ToString() <a href="http://hu.linkedin.com/pub/andras-fuchs/32/355/924">Andras Fuchs</a> @MrKupido.Web.Resources.Shared.Layout.AllRightsReserved
            </p>
        </footer>
    </div>



    <div id="reviewer" class="on">
        <span id="reviewSection">@MrKupido.Web.Resources.Shared.Layout.ReviewText</span>
        @{ string placeHolderText = MrKupido.Web.Resources.Shared.Layout.ReviewPlaceholder + " v" + (Session["WebAppFileVersion"] as string); }
        <input id="reviewCommentText" placeholder='@placeHolderText' size="60" onkeydown="javascript:reviewCommentChanged(event);">
        <input id="reviewCommentButton" value="@MrKupido.Web.Resources.Shared.Layout.ReviewButton" type="button" onclick="javascript: submitReviewComment();">
    </div>


@*    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>*@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    @Scripts.Render("~/Scripts/wTimer.js")
    @Scripts.Render("~/Scripts/jquery.nivo.slider.js")
    @Styles.Render("~/Content/nivo-slider.css")

    @this.WriteScriptBlocks()

</body>
</html>
