@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script type="text/javascript">
        var lastItemDisplayString = "";

        $(function () {
            $("#query").keyup(function (e) {
                lastItemDisplayString = "";

                var code = e.which; // recommended to use e.which, it's normalized across browsers

                // enter
                if (code == 13) e.preventDefault();


                if (code == 32 || code == 13 || code == 188 || code == 186) {
                    $("#search").trigger("onclick");
                } // missing closing if brace

                if (this.value == "") {
                    // left or page up
                    if (code == 37 || code == 33) {
                        $("#pageprev").trigger("onclick");
                    }
                    // right or page down
                    if (code == 39 || code == 34) {
                        $("#pagenext").trigger("onclick");
                    }
                    // home
                    if (code == 36) {
                        $("#pagefirst").trigger("onclick");
                    }
                    // end
                    if (code == 35) {
                        $("#pagelast").trigger("onclick");
                    }
                    // del
                    if (code == 46) {
                        deleteFilter("!first");
                        $("#search").trigger("onclick");
                    }
                    // backspace
                    if (code == 8) {
                        deleteFilter("!last");
                        $("#search").trigger("onclick");
                    }
                    e.preventDefault();
                }
            });

            $("#query").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("SearchAutocomplete", "Home")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            featureClass: "P",
                            style: "full",
                            maxRows: 12,
                            name_startsWith: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    displayString: item.DisplayString,
                                    searchString: item.SearchString,
                                    label: item.SearchString,
                                    value: item.NodeType + ":" + item.UniqueName,
                                    icon: item.IconUrl
                                }
                            }) // map
                            ); // response
                        }, // success
                        error: function (xhr, textStatus, errorThrown) {
                            //                              alert("Error");
                            //                              alert(xhr);
                            //                              alert(textStatus);
                            //                              alert(errorThrown);
                        }
                    }); // ajax
                },
                minLength: 2,
                delay: 200,
                selectFirst: true,
                autoSelect: true,
                accentFolding: true, /* is it working/necessary */
                select: function (event, ui) {
                    $.ajax({
                        url: '@Url.Action("SearchSelected", "Home")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            selectedValue: ui.item ? ui.item.value : this.value,
                            wasItemSelected: ui.item != null
                        },
                        success: function (data) {
                            refreshFilters(data);
                        }, // success
                        error: function (xhr, textStatus, errorThrown) {
                            //                              alert("Error");
                            //                              alert(xhr);
                            //                              alert(textStatus);
                            //                              alert(errorThrown);
                        }
                    }); // ajax
                    $(this).val(''); return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            })

            .data("autocomplete")._renderItem = function (ul, item) {
                // remove duplicates
                if (lastItemDisplayString == item.displayString) return ul;
                lastItemDisplayString = item.displayString;

                // show one item
                return $('<li class="ui-menu-item-with-icon"></li>')
                    .data("item.autocomplete", item)
                    .append('<a><img class="ui-menu-item-icon" src="' + item.icon + '" />' + item.displayString + '</a>')
                    .appendTo(ul);
            };

        });

        function refreshFilters(filters) {            
            ulBody = '';
            
            for(x=0; x<filters.length; x++) {
                ulBody += '<li>' + filters[x].Text + ' <a href="javascript:deleteFilter(\'' + filters[x].Value + '\'); doSearch();">x</a></li>';
            }

            $('#filters').empty();
            $('#filters').append('<ul>' + ulBody + '</ul>');
        };

        function deleteFilter(filterValue) {
            $.ajax({
                url: '@Url.Action("DeleteFilter", "Home")',
                type: "POST",
                dataType: "json",
                data: {
                    value: filterValue
                },
                success: function (data) {
                    refreshFilters(data);
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    //                              alert("Error");
                    //                              alert(xhr);
                    //                              alert(textStatus);
                    //                              alert(errorThrown);
                }
            }); // ajax
        }

        $(document).ready(function () {
            deleteFilter("");

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error);
            }
        });

        function success(position) {
            var s = document.querySelector('#location');

            s.value = position.coords.latitude + ", " + position.coords.longitude;
        }

        function error(msg) {
            var s = document.querySelector('#location');
            s.value = "";
        }
    </script>

<a runat="server" href="~/hun" >
<img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="200" height="152" />
</a>
<p class="userbar">
    @if (Session["CurrentUser"] == null)
    {
        <span id="login"><a runat="server" href="~/hun/Account/LogIn" onclick="_gaq.push(['_trackEvent', 'Profile', 'Login', '']);">Log in</a></span>
    }
    @if (Session["CurrentUser"] != null)
    {
        <span id="name"><a runat="server" href="~/hun/Account/Profile">@Session["CurrentUser.DisplayName"]</a></span><span id="messages" style="display: none">0</span>
        <img runat="server" src="~/Content/images/avatar.jpg" alt="Avatar" width="51" height="51" />
        <img runat="server" src="~/Content/svg/smalldropdownarrow.svg" alt="Avatar" width="5" height="5" />
    }
    else
    { 
        <img runat="server" src="~/Content/svg/avatar.svg" alt="Avatar" width="51" height="51" />
    }
</p>
<div class="searchbox">
    <p class="inputfield">
        <label for="location">
            Helyszin:</label>
        <input id="location" type="text" placeholder="(jelenleg ismeretlen)" />
    </p>
    <p class="inputfield">
        <label for="query">
            Keresnivaló:</label>
        <input id="query" type="search" placeholder="(hozzávaló, diéta, eszköz)" autofocus />
    </p>
    <input id="search" type="submit" value="Keresés" onclick="_gaq.push(['_trackEvent', 'Search', 'Search', '+karalábé -pulyka']); doSearch();" style="display: none"/>
    <div id="deleteall">
        <input type="button" value="Mindent töröl" onclick="deleteFilter();" />
    </div>
    <div id="filters">
        <ul>            
        </ul>
    </div>
</div>
