@using MrKupido.Web.Models
@this.ScriptBlock(
    @<script type="text/javascript">
        var lastItemDisplayString = "";

        $(function () {
            $("#query").keydown(function (e) {
                lastItemDisplayString = "";

                var code = e.which; // recommended to use e.which, it's normalized across browsers

                // switch to positive query
                if (code == 107 || code == 189 || code == 187) {
                    $("#querySign").html("+");
                    e.preventDefault();
                }

                // switch to negative query
                if (code == 109 || code == 189) {
                    $("#querySign").html("-");
                    e.preventDefault();
                }

                if (this.value == "") {
                    // space, enter
                    if (code == 32 || code == 13) {
                        e.preventDefault();
                    }

                    // left or page up
                    if (code == 37 || code == 33) {
                        $("#pageprev").trigger("onclick");
                        e.preventDefault();
                    }
                    // right or page down
                    if (code == 39 || code == 34) {
                        $("#pagenext").trigger("onclick");
                        e.preventDefault();
                    }
                    // home
                    if (code == 36) {
                        $("#pagefirst").trigger("onclick");
                        e.preventDefault();
                    }
                    // end
                    if (code == 35) {
                        $("#pagelast").trigger("onclick");
                        e.preventDefault();
                    }
                    // del
                    if (code == 46) {
                        deleteFilter("!first");
                        e.preventDefault();
                    }
                    // backspace
                    if (code == 8) {
                        deleteFilter("!last");
                        e.preventDefault();
                    }
                } else {
                    // enter
                    if (code == 13) {
                        e.preventDefault();
                    }
                }
            });

            $("#query").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("SearchAutocomplete", "Home")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                displayString: item.DisplayString,
                                searchString: item.SearchString,
                                label: item.SearchString,
                                value: item.NodeType + ":" + item.UniqueName,
                                icon: item.IconUrl
                            }
                        }) // map
                        ); // response
                    }, // success
                    error: function (xhr, textStatus, errorThrown) {
                    } // error
                }); // ajax
            },
            minLength: 2,
            delay: 200,
            autoSelect: true,
            autoFocus: true,
            select: searchKeywordSelected,
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        })

            .data("autocomplete")._renderItem = function (ul, item) {
                // remove duplicates
                if (lastItemDisplayString == item.displayString) return ul;
                lastItemDisplayString = item.displayString;

                // show one item
                return $('<li class="ui-menu-item-with-icon"></li>')
                    .data("item.autocomplete", item)
                    .append('<a><img class="ui-menu-item-icon" src="' + item.icon + '" />' + item.displayString + '</a>')
                    .appendTo(ul);
            };

    });

    function searchKeywordSelected(event, ui) {
        $.ajax({
            url: '@Url.Action("SearchSelected", "Home")',
            type: "POST",
            dataType: "json",
            data: {
                selectedValue: ui.item ? ui.item.value : this.value,
                wasItemSelected: ui.item != null,
                isNegative: $("#querySign").html() == "-"
            },
            success: function (data) {
                refreshFilters(data);
                $("#querySign").html("+");
            }, // success
            error: function (xhr, textStatus, errorThrown) {
            } // error
        }); // ajax
        $(this).val(''); return false;
    };

    function refreshFilters(filters, invokeDoSearch) {
        invokeDoSearch = typeof invokeDoSearch !== 'undefined' ? invokeDoSearch : true;

        ulBody = '';

        for (x = 0; x < filters.length; x++) {
            ulBody += '<li>' + filters[x].Text + ' <a href="javascript:deleteFilter(\'' + filters[x].Value + '\'); doSearch();">x</a></li>';
        }

        $('#filters').empty();
        $('#filters').append('<ul>' + ulBody + '</ul>');

        if (invokeDoSearch) {
            $("#query").attr('readonly', false);
            $("div#filters ul li a").removeClass('disabled');
            $("div#deleteall").removeClass('disabled');

            doSearch();
        } else {
            $("#query").attr('readonly', true);
            $("div#filters ul li a").addClass('disabled');
            $("div#deleteall").addClass('disabled');
        }
    };

    function deleteFilter(filterValue, invokeDoSearch) {
        $.ajax({
            url: '@Url.Action("DeleteFilter", "Home")',
            type: "POST",
            dataType: "json",
            data: {
                value: filterValue
            },
            success: function (data) {
                refreshFilters(data, invokeDoSearch);
            }, // success
            error: function (xhr, textStatus, errorThrown) {
            } // error
        }); // ajax
    }

    function toggleQuerySign() {
        if ($("#querySign").html() == "+") $("#querySign").html("-")
        else $("#querySign").html("+");
    }

    $(document).ready(function () {
        var knownLocation = "@(new HtmlString(Session["Location"] as string))";

        if (knownLocation == "") {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError);
            }
        } else {
            document.querySelector('#location').value = knownLocation;
        }
    });

        function geolocationSuccess(position) {
            var s = document.querySelector('#location');

            $.ajax({
                url: '@Url.Action("GetLocationName", "Home")',
                type: "POST",
                dataType: "json",
                data: {
                    lat: position.coords.latitude,
                    lon: position.coords.longitude
                },
                success: function (locationText) {
                    if (locationText == null) {
                        s.value = Math.round(position.coords.latitude * 100000) / 100000 + ", " + Math.round(position.coords.longitude * 100000) / 100000;
                    } else {
                        s.value = locationText;
                    }
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    s.value = Math.round(position.coords.latitude * 100000) / 100000 + ", " + Math.round(position.coords.longitude * 100000) / 100000;
                }
            }); // ajax
        }

        function geolocationError(msg) {
            var s = document.querySelector('#location');
            s.value = "";
        }

        $(document).ready(function () {

            $("#menu-trigger").on("click", function () {
                $("#usermenu").toggle();
            });

            // iPad
            var isiPad = navigator.userAgent.match(/iPad/i) != null;
            if (isiPad) $('#usermenu ul').addClass('no-transition');

            // get the profile pic
            var avatarImg = $("img#avatar");
            var originalSrc = avatarImg.attr("src");

            if ("@(Session.IsAvatarCached().ToString().ToLower())" == "false") {
                avatarImg.css({ opacity: 0.0 }).attr("src", "@Session.GetCurrentUserAvatarUrl(true)").load(function () {
                    if (this.complete && typeof this.naturalWidth != "undefined" && this.naturalWidth != 0) {
                        $(this).stop().animate({ opacity: '1' }, 1500);
                        $.isAvatarCached = true;
                    }
                });
            }
        });
    </script>
)

<a runat="server" href="~/hun">
    <img runat="server" src="~/Content/svg/logo_mrkupido.svg" alt="Mr. Kupido" width="200" height="152" />
</a>
<div class="userbar">
    @if (Session.GetCurrentUser() == null)
    {
        <span id="login"><a runat="server" href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/Account/LogIn">@MrKupido.Web.Resources.Shared.SearchHeader.Login</a></span>
        <img runat="server" src="~/Content/svg/icon_avatar.svg" alt="Avatar" width="50" height="50" />
    }
    @if (Session.GetCurrentUser() != null)
    {
        <span id="name"><a runat="server" href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/Account/Profile">@Session.GetCurrentUserDisplayName()</a></span><span id="messages" style="display: none">0</span>
        <img runat="server" src="~/Content/svg/icon_avatar.svg" alt="Avatar" width="50" height="50" />
        <img runat="server" id="avatar" src="@(Session.IsAvatarCached() ? Session.GetCurrentUserAvatarUrl(false) : "~/Content/svg/icon_avatar.svg")" alt="Avatar" width="50" height="50" />
        <img runat="server" id="menu-trigger" src="~/Content/svg/icon_menutrigger.svg" alt="Menu" width="11" height="9" />
        <nav id="menu-wrap">
            <ul id="usermenu">
                <li><a href="#">@MrKupido.Web.Resources.Shared.SearchHeader.Language</a>
                    <ul>
                        <li><a href="~/hun">@MrKupido.Web.Resources.Shared.SearchHeader.LanguageHun</a></li>
                        <li><a href="~/eng">@MrKupido.Web.Resources.Shared.SearchHeader.LanguageEng</a></li>
                        <li><a href="~/deu" style="text-decoration: line-through;">@MrKupido.Web.Resources.Shared.SearchHeader.LanguageDeu</a></li>
                        <li><a href="~/spa" style="text-decoration: line-through;">@MrKupido.Web.Resources.Shared.SearchHeader.LanguageSpa</a></li>
                    </ul>
                </li>
                <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/account/profile">@MrKupido.Web.Resources.Shared.SearchHeader.Profile</a></li>
                <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/ingredient/trees">@MrKupido.Web.Resources.Shared.SearchHeader.Taxonomy</a></li>
                <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/import/recipelist">@MrKupido.Web.Resources.Shared.SearchHeader.Import</a></li>
                <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/help">@MrKupido.Web.Resources.Shared.SearchHeader.Help</a></li>
                <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/account/logout">@MrKupido.Web.Resources.Shared.SearchHeader.Logout</a></li>
            </ul>
        </nav>

    }
</div>
<div class="searchbox">
    <p class="inputfield">
        <label for="location">
            @MrKupido.Web.Resources.Shared.SearchHeader.Location:</label>
        <input id="location" type="text" placeholder="@MrKupido.Web.Resources.Shared.SearchHeader.LocationUnknown" readonly="readonly" />
    </p>
    <p class="inputfield">
        <label for="query">
            @MrKupido.Web.Resources.Shared.SearchHeader.Query:</label>
        <span id="querySign" onclick="toggleQuerySign();">+</span>
        <input id="query" type="search" placeholder="@MrKupido.Web.Resources.Shared.SearchHeader.QueryPlaceholder" autofocus />
    </p>
    <div id="deleteall">
        <input type="button" value="@MrKupido.Web.Resources.Shared.SearchHeader.DeleteAll" onclick="deleteFilter();" />
    </div>
    <div id="filters">
        <ul>
        </ul>
    </div>
</div>
