@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    var lastItemDisplayString = "";

    $(function () {
        $("#query").keyup(function (e) {
            lastItemDisplayString = "";

            var code = e.which; // recommended to use e.which, it's normalized across browsers

            // enter
            if (code == 13) e.preventDefault();


            if (code == 32 || code == 13 || code == 188 || code == 186) {
                doSearch();
            } // missing closing if brace

            if (this.value == "") {
                // left or page up
                if (code == 37 || code == 33) {
                    $("#pageprev").trigger("onclick");
                }
                // right or page down
                if (code == 39 || code == 34) {
                    $("#pagenext").trigger("onclick");
                }
                // home
                if (code == 36) {
                    $("#pagefirst").trigger("onclick");
                }
                // end
                if (code == 35) {
                    $("#pagelast").trigger("onclick");
                }
                // del
                if (code == 46) {
                    deleteFilter("!first");
                }
                // backspace
                if (code == 8) {
                    deleteFilter("!last");
                }
                e.preventDefault();
            }
        });

        $("#query").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("SearchAutocomplete", "Home")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                displayString: item.DisplayString,
                                searchString: item.SearchString,
                                label: item.SearchString,
                                value: item.NodeType + ":" + item.UniqueName,
                                icon: item.IconUrl
                            }
                        }) // map
                        ); // response
                    }, // success
                    error: function (xhr, textStatus, errorThrown) {
                        //                              alert("Error");
                        //                              alert(xhr);
                        //                              alert(textStatus);
                        //                              alert(errorThrown);
                    }
                }); // ajax
            },
            minLength: 2,
            delay: 200,
            selectFirst: true,
            autoSelect: true,
            accentFolding: true, /* is it working/necessary */
            select: searchKeywordSelected,
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        })

            .data("autocomplete")._renderItem = function (ul, item) {
                // remove duplicates
                if (lastItemDisplayString == item.displayString) return ul;
                lastItemDisplayString = item.displayString;

                // show one item
                return $('<li class="ui-menu-item-with-icon"></li>')
                    .data("item.autocomplete", item)
                    .append('<a><img class="ui-menu-item-icon" src="' + item.icon + '" />' + item.displayString + '</a>')
                    .appendTo(ul);
            };

    });

    function searchKeywordSelected(event, ui) {
        $.ajax({
            url: '@Url.Action("SearchSelected", "Home")',
            type: "POST",
            dataType: "json",
            data: {
                selectedValue: ui.item ? ui.item.value : this.value,
                wasItemSelected: ui.item != null
            },
            success: function (data) {
                refreshFilters(data);
            }, // success
            error: function (xhr, textStatus, errorThrown) {
                //                              alert("Error");
                //                              alert(xhr);
                //                              alert(textStatus);
                //                              alert(errorThrown);
            }
        }); // ajax
        $(this).val(''); return false;
    };

    function refreshFilters(filters, invokeDoSearch) {
        invokeDoSearch = typeof invokeDoSearch !== 'undefined' ? invokeDoSearch : true;

        ulBody = '';

        for (x = 0; x < filters.length; x++) {
            ulBody += '<li>' + filters[x].Text + ' <a href="javascript:deleteFilter(\'' + filters[x].Value + '\'); doSearch();">x</a></li>';
        }

        $('#filters').empty();
        $('#filters').append('<ul>' + ulBody + '</ul>');

        if (invokeDoSearch)
        {
            $("#query").attr('readonly', false);
            $("div#filters ul li a").removeClass('disabled');
            $("div#deleteall").removeClass('disabled');

            doSearch();
        } else {
            $("#query").attr('readonly', true);
            $("div#filters ul li a").addClass('disabled');
            $("div#deleteall").addClass('disabled');
        }
    };

    function deleteFilter(filterValue, invokeDoSearch) {
        $.ajax({
            url: '@Url.Action("DeleteFilter", "Home")',
            type: "POST",
            dataType: "json",
            data: {
                value: filterValue
            },
            success: function (data) {
                refreshFilters(data, invokeDoSearch);
            }, // success
            error: function (xhr, textStatus, errorThrown) {
                //alert("Error");
                //alert(xhr);
                //alert(textStatus);
                //alert(errorThrown);
            }
        }); // ajax
    }

    $(document).ready(function () {
        var knownLocation = "@(Session["Location"] as string)";

        if (knownLocation == "")
        {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError);
            }
        } else 
        {
            document.querySelector('#location').value = knownLocation;
        }
    });

    function geolocationSuccess(position) {
        var s = document.querySelector('#location');

        $.ajax({
            url: '@Url.Action("GetLocationName", "Home")',
            type: "POST",
            dataType: "json",
            data: {
                lat: position.coords.latitude,
                lon: position.coords.longitude
            },
            success: function (locationText) {
                if (locationText == null) {
                    s.value = Math.round(position.coords.latitude * 100000) / 100000 + ", " + Math.round(position.coords.longitude * 100000) / 100000;
                } else {
                    s.value = locationText;
                }
            }, // success
            error: function (xhr, textStatus, errorThrown) {
                s.value = Math.round(position.coords.latitude * 100000) / 100000 + ", " + Math.round(position.coords.longitude * 100000) / 100000;
            }
        }); // ajax
    }

    function geolocationError(msg) {
        var s = document.querySelector('#location');
        s.value = "";
    }

    $(function () {
        if ($.browser.msie && $.browser.version.substr(0, 1) < 7) {
            $('li').has('ul').mouseover(function () {
                $(this).children('ul').css('visibility', 'visible');
            }).mouseout(function () {
                $(this).children('ul').css('visibility', 'hidden');
            })
        }
    });

    $(document).ready(function () {

        $("#menu-trigger").on("click", function () {
            $("#usermenu").toggle();
        });

        // iPad
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        if (isiPad) $('#menu ul').addClass('no-transition');
    });
</script>

<a runat="server" href="~/hun">
    <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="200" height="152" />
</a>
<div class="userbar">
    @if (Session["CurrentUser"] == null)
    {
        <span id="login"><a runat="server" href="~/hun/Account/LogIn" onclick="_gaq.push(['_trackEvent', 'Profile', 'Login', '']);">Log in</a></span>
    }
    @if (Session["CurrentUser"] != null)
    {
        <span id="name"><a runat="server" href="~/hun/Account/Profile">@Session["CurrentUser.DisplayName"]</a></span><span id="messages" style="display: none">0</span>
        <img runat="server" src="@Session["CurrentUser.AvatarUrl"]" alt="Avatar" width="51" height="51" />
        <img runat="server" id="menu-trigger" src="~/Content/svg/usermenu.svg" alt="Menu" width="11" height="9" />
        <nav id="menu-wrap">
            <ul id="usermenu">
                <li><a href="#">Nyelv</a>
                    <ul>
                        <li><a href="~/hun">Magyar</a></li>
                        <li><a href="~/eng" style="text-decoration: line-through;">Angol</a></li>
                        <li><a href="~/deu" style="text-decoration: line-through;">Német</a></li>
                        <li><a href="~/spa" style="text-decoration: line-through;">Spanyol</a></li>
                    </ul>
                </li>
                <li><a href="~/hun/account/profile">Profil</a></li>
                <li><a href="~/hun/ingredient/taxonomy">Taxonómia (alfa)</a></li>
                <li><a href="~/hun/import/recipelist">Import (alfa)</a></li>
                <li><a href="~/hun/help/firsttime">Súgó (alfa)</a></li>
                <li><a href="~/hun/account/login">Kijelentkezés</a></li>
            </ul>
        </nav>

    }
    else
    { 
        <img runat="server" src="~/Content/svg/avatar.svg" alt="Avatar" width="51" height="51" />
    }
</div>
<div class="searchbox">
    <p class="inputfield">
        <label for="location">
            Helyszin:</label>
        <input id="location" type="text" placeholder="(jelenleg ismeretlen)" readonly="readonly" />
    </p>
    <p class="inputfield">
        <label for="query">
            Keresnivaló:</label>
        <input id="query" type="search" placeholder="(hozzávaló, diéta, eszköz)" autofocus />
    </p>
    <div id="deleteall">
        <input type="button" value="Mindent töröl" onclick="deleteFilter();" />
    </div>
    <div id="filters">
        <ul>
        </ul>
    </div>
</div>
