@model MrKupido.Web.Models.RecipeSearchResultItem[]
<ul>
    @{MrKupido.Web.Models.RecipeSearchResultItem[] rsri = (Model == null ? new MrKupido.Web.Models.RecipeSearchResultItem[0] : Model);}
    @for (int i = 0; i < rsri.Length; i++)
    { 
        <li>
            <div class="resultbox">
                <div class="resulthead @rsri[i].CSSClass">
                    <div class="category">
                        <img runat="server" src="@rsri[i].IconUrl" alt="@rsri[i].MainCategory.ToString()" width="45px" height="30px" />
                    </div>
                    <div class="title">
                        <span class="titlecontent">
                                
                            <a runat="server" href="~/hun/recept/@rsri[i].UniqueName" class='@(rsri[i].IsImplemented ? "enabled" : "disabled")'>

                            @rsri[i].DisplayName
                            
                            </a>
                            
                            @if (rsri[i].IsHidden) 
                            { 
                                <span>*</span>
                            }
                        </span>
                    </div>
                    <div class="tick">
                        @if (rsri[i].IsSelected)
                        { 
                            <a href="#">
                                <img runat="server" src="~/Content/svg/tick_on.svg" alt="töröl" width="25px" height="25px" /></a>
                        }
                        else
                        {
                            <a href="#">
                                <img runat="server" src="~/Content/svg/tick_off.svg" alt="kiválaszt" width="25px" height="25px" /></a>
                        }
                    </div>
                </div>
                <div class="resulticons">
                    <div class="preptime">
                        @if (rsri[i].NetTime >= 45)
                        {
                            <img runat="server" src="~/Content/svg/clock_60.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                        }
                        else if (rsri[i].NetTime >= 30)
                        {
                            <img runat="server" src="~/Content/svg/clock_45.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                        }
                        else if (rsri[i].NetTime >= 15)
                        {
                            <img runat="server" src="~/Content/svg/clock_30.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                        }
                        else if (rsri[i].NetTime > 0)
                        {
                            <img runat="server" src="~/Content/svg/clock_15.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                        }
                        else
                        {
                            <img runat="server" src="~/Content/svg/clock_00.svg" alt="? perc" width="35px" height="35px" />
                        }

                        @if (rsri[i].NetTime >= 99)
                        {
                            <span>++</span>
                        }
                        else if (rsri[i].NetTime > 0)
                        {
                            <span>@rsri[i].NetTime.ToString("00")</span>
                        }
                    </div>
                    @if (rsri[i].IsVegetarian)
                    { 
                        <img runat="server" src="~/Content/svg/icon_vegetarian_dark.svg" alt="vegetáriánus" width="35px" height="35px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_vegetarian.svg" alt="nem vegetáriánus" width="35px" height="35px" />
                    }

                    @if (rsri[i].IsGlutenFree)
                    { 
                        <img runat="server" src="~/Content/svg/icon_glutenfree_dark.svg" alt="gluténmentes" width="35px" height="35px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_glutenfree.svg" alt="glutént tartalmaz" width="35px" height="35px" />
                    }

                    @if (rsri[i].IsLactoseFree)
                    { 
                        <img runat="server" src="~/Content/svg/icon_lactosefree_dark.svg" alt="laktózmentes" width="35px" height="35px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_lactosefree.svg" alt="laktózt tartalmaz" width="35px" height="35px" />
                    }

                    @if ((rsri[i].Photos != null) && (rsri[i].Photos.Length > 0))
                    { 
                        <img runat="server" src="~/Content/svg/icon_photo_dark.svg" alt="@rsri[i].Photos.Length kép" width="40px" height="45px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_photo.svg" alt="0 kép" width="40px" height="45px" />
                    }
                    <div class="versions">
                        <a href="javascript:searchKeywordSelected(null,{item: {value:'R:@rsri[i].UniqueName'}}); doSearch(6);">
                            <img runat="server" src="~/Content/svg/versions.svg" alt="11 változat" width="50px" height="45px" />
                            <span>@rsri[i].SubVersions</span>
                        </a>
                    </div>
                </div>
                <div class="resultbody">
                    @if (rsri[i].CommercialInfo != null)
                    {
                        @rsri[i].CommercialInfo
                    } else 
                    {
                        @rsri[i].MainIngredients
                    }
                </div>
                <div class="resultfooter">
                    @if ((rsri[i].RatingCount == 0) || (!rsri[i].Rating.HasValue))
                    { 
                        <img runat="server" src="~/Content/svg/stars_00_light.svg" alt="nincs értékelés" width="111px" height="20px" />
                    }
                    else
                    {
                        if (rsri[i].Rating.Value >= 4.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_50.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 4.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_45.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 3.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_40.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 3.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_35.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 2.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_30.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 2.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_25.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 1.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_20.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 1.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_15.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 0.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_10.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 0.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_05.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else
                        { 
                        <img runat="server" src="~/Content/svg/stars_00.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                    }
                </div>
            </div>
            <div class="resultnutritionlevels">
                @if (!rsri[i].Cals.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 4.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 3.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 2.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 1.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }

                @if (!rsri[i].Sugar.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 4.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 3.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 2.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 1.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }

                @if (!rsri[i].Fat.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 4.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 3.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 2.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 1.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }

                @if (!rsri[i].Salt.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 4.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 3.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 2.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 1.0f)
                {
                        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }
            </div>
            <div class="resultnutritionnames">
                <img runat="server" src="~/Content/svg/nutname_cal_hun.svg" alt="tápérték" width="30px" height="50px" />
                <img runat="server" src="~/Content/svg/nutname_sugar_hun.svg" alt="cukor" width="30px" height="50px" />
                <img runat="server" src="~/Content/svg/nutname_fat_hun.svg" alt="zsír" width="30px" height="50px" />
                <img runat="server" src="~/Content/svg/nutname_salt_hun.svg" alt="só" width="30px" height="50px" />
            </div>
        </li>
    }

    @for (int j = rsri.Length; j < 6; j++)
    { 
        <li class="disabled"></li>
    }
</ul>
