@model MrKupido.Web.Models.RecipeSearchResultItem
@using MrKupido.Web.Models

<script type="text/javascript">
    function flipToSideA@(Model.Index)(uniqueName) {
        $("li#" + uniqueName).animate({ opacity: 0.0 }, 500, "easeInOutCubic", function () {
            $.ajax({
                url: '@Url.Action("RenderSideA","Home", new { uniqueName = Model.UniqueName } )',
                success: function (data) {
                    $("div#nivoSlider" + @(Model.Index) + "").nivoSlider().stop();
                    $("li#" + uniqueName).html(data);
                },
                complete: function () {
                    $("li#" + uniqueName).animate({ opacity: 1.0 }, 500, "easeInOutCubic");
                }
            });
        });
    }
</script>

<div class="resultbox">
    <div class="resulthead @Model.CSSClass">
        <div class="category"></div>
        <div class="title">
            <span class="titlecontent">

                <a runat="server" href="~/@Session["Language"]/@((string)Session["Language"] == "hun" ? "recept" : "recipe")/@Model.UniqueName" class='@(Model.IsImplemented ? "enabled" : "disabled")'>

                    @Model.DisplayName

                </a>

                @if (Model.IsHidden)
                { 
                    <span>*</span>
                }
            </span>
        </div>
        <div class="flag">
            <a href="javascript:flipToSideA@(Model.Index)('@Model.UniqueName')">
                <img class="flag" runat="server" src="~/Content/svg/icon_flag.svg" width="40" height="23" />
            </a>
        </div>
    </div>
    <div class="resultdetails">
        <div class="resultphotoframe">

            <div class="nivoSlider" id="nivoSlider@(Model.Index)">
                @foreach (string photo in Model.Photos)
                {
                    <img runat="server" src="@(photo)"/>
                }
            </div>

        </div>
    </div>
</div>
<div class="resultpager">
    <div class="resultpager-images">
        @for (int i = 1; i <= Model.Photos.Length; i++)
        {
            <img runat="server" src="~/Content/svg/pager_active.svg" width="10" height="10" onclick="changeSliderIndex($(this), @(i))" />
        }
    </div>
</div>

