@model MrKupido.Web.Models.RecipeSearchResultItem[]
@using MrKupido.Web.Models
<ul>
    @{MrKupido.Web.Models.RecipeSearchResultItem[] rsri = (Model == null ? new MrKupido.Web.Models.RecipeSearchResultItem[0] : Model);}
    @for (int i = 0; i < rsri.Length; i++)
    { 
        <li>
            <div class="resultbox">
                <div class="resulthead @rsri[i].CSSClass">
                    <div class="category">
                        <img runat="server" src="@rsri[i].IconUrl" alt="@rsri[i].MainCategory.ToString()" width="32px" height="32px" />
                    </div>
                    <div class="title">
                        <span class="titlecontent">

                            <a runat="server" href="~/@System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName/@(System.Threading.Thread.CurrentThread.CurrentUICulture.ThreeLetterISOLanguageName == "hun" ? "recept" : "recipe")/@rsri[i].UniqueName" class='@(rsri[i].IsImplemented ? "enabled" : "disabled")'>

                                @rsri[i].DisplayName

                            </a>

                            @if (rsri[i].IsHidden)
                            { 
                                <span>*</span>
                            }
                        </span>
                    </div>
                    <div class="flag">
                        <a href="#">
                            <img class="flag" runat="server" src="~/Content/svg/icon_flag.svg" width="40px" height="23px" />
                        </a>
                    </div>
                </div>
                <div class="resulticons">
                    @*                    @if (rsri[i].CSSClass == "commercial")
                    {
                        <img runat="server" src="~/Content/svg/type_commercial.svg" width="35px" height="35px" />
                    } else 
                    {
                    *@


                    <div class="versions">
                        @if (rsri[i].SubVersions > 0)
                        {
                            <a href="javascript:searchKeywordSelected(null,{item: {value:'R:@rsri[i].UniqueName'}}); doSearch();">
                                <img runat="server" src="~/Content/svg/icon_versions.svg" width="50px" height="45px" /><span>@rsri[i].SubVersions</span></a>
                        }
                        else
                        {
                            <img runat="server" src="~/Content/svg/icon_versions_disabled.svg" width="50px" height="45px" />
                        }
                    </div>


                    @*}*@


                    @if (rsri[i].IsVegetarian)
                    { 
                        <img runat="server" src="~/Content/svg/icon_vegetarian.svg" alt="vegetáriánus" width="35px" height="35px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_vegetarian_disabled.svg" alt="nem vegetáriánus" width="35px" height="35px" />
                    }

                    @if (rsri[i].IsGlutenFree)
                    { 
                        <img runat="server" src="~/Content/svg/icon_glutenfree.svg" alt="gluténmentes" width="35px" height="35px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_glutenfree_disabled.svg" alt="glutént tartalmaz" width="35px" height="35px" />
                    }

                    @if (rsri[i].IsLactoseFree)
                    { 
                        <img runat="server" src="~/Content/svg/icon_lactosefree.svg" alt="laktózmentes" width="35px" height="35px" />
                    }
                    else
                    { 
                        <img runat="server" src="~/Content/svg/icon_lactosefree_disabled.svg" alt="laktózt tartalmaz" width="35px" height="35px" />
                    }

                    @if (String.IsNullOrEmpty(rsri[i].CommercialIconFilename))
                    {

                        if ((rsri[i].Photos != null) && (rsri[i].Photos.Length > 0))
                        { 
                        <img runat="server" src="~/Content/svg/icon_photos.svg" alt="@rsri[i].Photos.Length kép" width="40px" height="45px" />
                        }
                        else
                        { 
                        <img runat="server" src="~/Content/svg/icon_photos_disabled.svg" alt="0 kép" width="40px" height="45px" />
                        }

                        <div class="preptime">
                            @if (rsri[i].NetTime >= 60)
                            {
                                <img runat="server" src="~/Content/svg/clock_60.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 52)
                            {
                                <img runat="server" src="~/Content/svg/clock_52.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 45)
                            {
                                <img runat="server" src="~/Content/svg/clock_45.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 37)
                            {
                                <img runat="server" src="~/Content/svg/clock_37.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 30)
                            {
                                <img runat="server" src="~/Content/svg/clock_30.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 22)
                            {
                                <img runat="server" src="~/Content/svg/clock_22.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 15)
                            {
                                <img runat="server" src="~/Content/svg/clock_15.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime >= 7)
                            {
                                <img runat="server" src="~/Content/svg/clock_07.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else if (rsri[i].NetTime > 0)
                            {
                                <img runat="server" src="~/Content/svg/clock_00.svg" alt="@rsri[i].NetTime perc" width="35px" height="35px" />
                            }
                            else
                            {
                                <img runat="server" src="~/Content/svg/clock_disabled.svg" alt="? perc" width="35px" height="35px" />
                            }

                            @if (rsri[i].NetTime >= 199)
                            {
                                <span>++</span>
                            }
                            else if (rsri[i].NetTime > 0)
                            {
                                <span>@rsri[i].NetTime.ToString("00")</span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="commerciallogo">
                            <img runat="server" src="~/Content/images/brand_@(rsri[i].CommercialIconFilename).png" />
                        </div>
                    }

                </div>
                <div class="resultbody">
                    @if (rsri[i].CommercialInfo != null)
                    {
                        @rsri[i].CommercialInfo
                    }
                    else
                    {
                        @rsri[i].MainIngredients
                    }
                </div>
                <div class="resultfooter">
                    @if ((rsri[i].RatingCount == 0) || (!rsri[i].Rating.HasValue))
                    { 
                        <img runat="server" src="~/Content/svg/stars_00_light.svg" alt="nincs értékelés" width="111px" height="20px" />
                    }
                    else
                    {
                        if (rsri[i].Rating.Value >= 4.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_50.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 4.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_45.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 3.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_40.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 3.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_35.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 2.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_30.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 2.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_25.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 1.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_20.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 1.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_15.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 0.75)
                        { 
                        <img runat="server" src="~/Content/svg/stars_10.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else if (rsri[i].Rating.Value >= 0.25)
                        { 
                        <img runat="server" src="~/Content/svg/stars_05.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                        else
                        { 
                        <img runat="server" src="~/Content/svg/stars_00.svg" alt="@rsri[i].Rating.Value" width="111px" height="20px" />
                        }
                    }
                </div>
            </div>
            <div class="resultnutritionlevels">
                @if (!rsri[i].Cals.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 4.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 3.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 2.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Cals.Value > 1.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                    <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }

                @if (!rsri[i].Sugar.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 4.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 3.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 2.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Sugar.Value > 1.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                    <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }

                @if (!rsri[i].Fat.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 4.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 3.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 2.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Fat.Value > 1.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                    <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }

                @if (!rsri[i].Salt.HasValue)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 4.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 3.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 2.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
                }
                else if (rsri[i].Salt.Value > 1.0f)
                {
                    <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
                }
                else
                {
                    <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
                }
            </div>
            <div class="resultnutritionnames">
                <img runat="server" src="~/Content/svg/nutname_cal_hun.svg" alt="tápérték" width="30px" height="50px" />
                <img runat="server" src="~/Content/svg/nutname_sugar_hun.svg" alt="cukor" width="30px" height="50px" />
                <img runat="server" src="~/Content/svg/nutname_fat_hun.svg" alt="zsír" width="30px" height="50px" />
                <img runat="server" src="~/Content/svg/nutname_salt_hun.svg" alt="só" width="30px" height="50px" />
            </div>
        </li>
    }

    @for (int j = rsri.Length; j < 6; j++)
    { 
        <li class="disabled"></li>
    }
</ul>
