@model MrKupido.Web.Models.RecipeSearchResultItem
@using MrKupido.Web.Models

<script type="text/javascript">
    function flipToSideB@(Model.Index)(uniqueName) {
        $("li#" + uniqueName).animate({ opacity: 0.0 }, 500, "easeInOutCubic", function () {
            $.ajax({
                url: '@Url.Action("RenderSideB","Home", new { uniqueName = Model.UniqueName } )',
                success: function (data) {
                    $("li#" + uniqueName).html(data);
                    $("div#nivoSlider" + @(Model.Index) + "").nivoSlider({ effect: 'fade', animSpeed: 1000, pauseTime: 5000, directionNav: false, controlNav: false, controlNavThumbs: false, pauseOnHover: false, beforeChange: beforeSliderChange, afterChange: afterSliderChange });
                },
                complete: function () {
                    $("li#" + uniqueName).animate({ opacity: 1.0 }, 500, "easeInOutCubic");
                }
            });
        });
    }
</script>

<div class="resultbox">
    <div class="resulthead @Model.CSSClass">
        <div class="category">
            <img runat="server" src="@Model.IconUrl" alt="@Model.MainCategory.ToString()" width="32px" height="32px" />
        </div>
        <div class="title">
            <span class="titlecontent">

                <a runat="server" href="~/@Session["Language"]/@((string)Session["Language"] == "hun" ? "recept" : "recipe")/@Model.UniqueName" class='@(Model.IsImplemented ? "enabled" : "disabled")'>

                    @Model.DisplayName

                </a>

                @if (Model.IsHidden)
                { 
                    <span>*</span>
                }
            </span>
        </div>
        <div class="flag">
            <a href="javascript:flipToSideB@(Model.Index)('@Model.UniqueName')">
                <img class="flag" runat="server" src="~/Content/svg/icon_flag.svg" width="40px" height="23px" />
            </a>
        </div>
    </div>
    <div class="resulticons">
        @if (Model.CSSClass == "commercial")
        {
            if (String.IsNullOrEmpty(Model.CommercialIconFilename))
            {
                // this must be an item to order from restaurants
            <img runat="server" src="~/Content/svg/type_orderable.svg" width="35px" height="35px" />
            }
            else
            {
                // this must be an item to buy in stores
            <img runat="server" src="~/Content/svg/type_commercial.svg" width="35px" height="35px" />
            }
        }
        else
        {
                    
            <div class="versions">
                @if (Model.SubVersions > 0)
                {
                    <a href="javascript:searchKeywordSelected(null,{item: {value:'R:@Model.UniqueName'}}); doSearch();">
                        <img runat="server" src="~/Content/svg/icon_versions.svg" width="50px" height="45px" /><span>@Model.SubVersions</span></a>
                }
                else
                {
                    <img runat="server" src="~/Content/svg/icon_versions_disabled.svg" width="50px" height="45px" />
                }
            </div>


        }


        @if (Model.IsVegetarian)
        { 
            <img runat="server" src="~/Content/svg/icon_vegetarian.svg" alt="vegetáriánus" width="35px" height="35px" />
        }
        else
        { 
            <img runat="server" src="~/Content/svg/icon_vegetarian_disabled.svg" alt="nem vegetáriánus" width="35px" height="35px" />
        }

        @if (Model.IsGlutenFree)
        { 
            <img runat="server" src="~/Content/svg/icon_glutenfree.svg" alt="gluténmentes" width="35px" height="35px" />
        }
        else
        { 
            <img runat="server" src="~/Content/svg/icon_glutenfree_disabled.svg" alt="glutént tartalmaz" width="35px" height="35px" />
        }

        @if (Model.IsLactoseFree)
        { 
            <img runat="server" src="~/Content/svg/icon_lactosefree.svg" alt="laktózmentes" width="35px" height="35px" />
        }
        else
        { 
            <img runat="server" src="~/Content/svg/icon_lactosefree_disabled.svg" alt="laktózt tartalmaz" width="35px" height="35px" />
        }

        @if (String.IsNullOrEmpty(Model.CommercialIconFilename))
        {

            if ((Model.Photos != null) && (Model.Photos.Length > 0))
            { 
                <a href="javascript:flipToSideB@(Model.Index)('@Model.UniqueName')">
                    <img runat="server" src="~/Content/svg/icon_photos.svg" alt="@Model.Photos.Length kép" width="40px" height="45px" />
                </a>
            }
            else
            { 
            <img runat="server" src="~/Content/svg/icon_photos_disabled.svg" alt="0 kép" width="40px" height="45px" />
            }

            <div class="preptime">
                @if (Model.NetTime >= 60)
                {
                    <img runat="server" src="~/Content/svg/clock_60.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 52)
                {
                    <img runat="server" src="~/Content/svg/clock_52.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 45)
                {
                    <img runat="server" src="~/Content/svg/clock_45.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 37)
                {
                    <img runat="server" src="~/Content/svg/clock_37.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 30)
                {
                    <img runat="server" src="~/Content/svg/clock_30.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 22)
                {
                    <img runat="server" src="~/Content/svg/clock_22.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 15)
                {
                    <img runat="server" src="~/Content/svg/clock_15.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime >= 7)
                {
                    <img runat="server" src="~/Content/svg/clock_07.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else if (Model.NetTime > 0)
                {
                    <img runat="server" src="~/Content/svg/clock_00.svg" alt="@Model.NetTime perc" width="35px" height="35px" />
                }
                else
                {
                    <img runat="server" src="~/Content/svg/clock_disabled.svg" alt="? perc" width="35px" height="35px" />
                }

                @if (Model.NetTime >= 199)
                {
                    <span>++</span>
                }
                else if (Model.NetTime > 0)
                {
                    <span>@Model.NetTime.ToString("00")</span>
                }
            </div>
        }
        else
        {
            <div class="commerciallogo">
                <img runat="server" src="~/Content/images/brand_@(Model.CommercialIconFilename).png" />
            </div>
        }

    </div>
    <div class="resultbody">
        @if (Model.CommercialInfo != null)
        {
            @Model.CommercialInfo
        }
        else
        {
            @Model.MainIngredients
        }
    </div>
    <div class="resultfooter">
        @if ((Model.RatingCount == 0) || (!Model.Rating.HasValue))
        { 
            <img runat="server" src="~/Content/svg/stars_00_light.svg" alt="nincs értékelés" width="111px" height="20px" />
        }
        else
        {
            if (Model.Rating.Value >= 4.75)
            { 
            <img runat="server" src="~/Content/svg/stars_50.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 4.25)
            { 
            <img runat="server" src="~/Content/svg/stars_45.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 3.75)
            { 
            <img runat="server" src="~/Content/svg/stars_40.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 3.25)
            { 
            <img runat="server" src="~/Content/svg/stars_35.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 2.75)
            { 
            <img runat="server" src="~/Content/svg/stars_30.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 2.25)
            { 
            <img runat="server" src="~/Content/svg/stars_25.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 1.75)
            { 
            <img runat="server" src="~/Content/svg/stars_20.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 1.25)
            { 
            <img runat="server" src="~/Content/svg/stars_15.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 0.75)
            { 
            <img runat="server" src="~/Content/svg/stars_10.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else if (Model.Rating.Value >= 0.25)
            { 
            <img runat="server" src="~/Content/svg/stars_05.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
            else
            { 
            <img runat="server" src="~/Content/svg/stars_00.svg" alt="@Model.Rating.Value" width="111px" height="20px" />
            }
        }
    </div>
</div>
<div class="resultnutritionlevels">
    @if (!Model.CaloriesLevel.HasValue)
    {
        <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
    }
    else if (Model.CaloriesLevel.Value > 4.0f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
    }
    else if (Model.CaloriesLevel.Value > 3.0f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
    }
    else if (Model.CaloriesLevel.Value > 2.0f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
    }
    else if (Model.CaloriesLevel.Value > 1.0f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
    }
    else
    {
        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
    }

    @if (!Model.CarbohydratesLevel.HasValue)
    {
        <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
    }
    else if (Model.CarbohydratesLevel.Value > 0.8f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
    }
    else if (Model.CarbohydratesLevel.Value > 0.6f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
    }
    else if (Model.CarbohydratesLevel.Value > 0.4f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
    }
    else if (Model.CarbohydratesLevel.Value > 0.2f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
    }
    else
    {
        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
    }

    @if (!Model.ProteinLevel.HasValue)
    {
        <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
    }
    else if (Model.ProteinLevel.Value > 0.8f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
    }
    else if (Model.ProteinLevel.Value > 0.6f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
    }
    else if (Model.ProteinLevel.Value > 0.4f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
    }
    else if (Model.ProteinLevel.Value > 0.2f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
    }
    else
    {
        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
    }

    @if (!Model.FatLevel.HasValue)
    {
        <img runat="server" src="~/Content/svg/nutlevel_none.svg" width="30px" height="50px" />
    }
    else if (Model.FatLevel.Value > 0.8f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_5.svg" width="30px" height="50px" />
    }
    else if (Model.FatLevel.Value > 0.6f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_4.svg" width="30px" height="50px" />
    }
    else if (Model.FatLevel.Value > 0.4f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_3.svg" width="30px" height="50px" />
    }
    else if (Model.FatLevel.Value > 0.2f)
    {
        <img runat="server" src="~/Content/svg/nutlevel_2.svg" width="30px" height="50px" />
    }
    else
    {
        <img runat="server" src="~/Content/svg/nutlevel_1.svg" width="30px" height="50px" />
    }

</div>
<div class="resultnutritionnames">
    <img runat="server" src="~/Content/svg/nutname_cal_hun.svg" alt="tápérték" width="30px" height="50px" />
    <img runat="server" src="~/Content/svg/nutname_sugar_hun.svg" alt="cukor" width="30px" height="50px" />
    <img runat="server" src="~/Content/svg/nutname_salt_hun.svg" alt="só" width="30px" height="50px" />
    <img runat="server" src="~/Content/svg/nutname_fat_hun.svg" alt="zsír" width="30px" height="50px" />
</div>
