@model IEnumerable<MrKupido.Model.Ingredient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StorageTemperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameHun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueNameEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueNameHun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StorageTemperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameHun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueNameEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueNameHun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilterItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilterItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilterItemId })
        </td>
    </tr>
}

</table>
