@model MrKupido.Library.IDirection[]
@if (Model == null)
{
    <span class="unknown">Az étel elkészítése jelenleg ismeretlen</span>
}
else
{ 
    <ul id="directions">
        @{ 
    int i = 0;
    TimeSpan time = new TimeSpan();
    foreach (MrKupido.Library.IDirection dir in Model)
    {
            <li><span class="stage">
                @if (dir.Stage == MrKupido.Library.RecipeStage.Preparation)
                {
                    <img runat="server" src="~/Content/svg/stage_preparation.svg"  alt="@dir.Stage" width="25px" height="70px" />
                }
                else if (dir.Stage == MrKupido.Library.RecipeStage.Cooking)
                {
                    <img runat="server" src="~/Content/svg/stage_cooking.svg"  alt="@dir.Stage" width="25px" height="70px" />
                }
                else if (dir.Stage == MrKupido.Library.RecipeStage.Serving)
                {
                    <img runat="server" src="~/Content/svg/stage_serving.svg"  alt="@dir.Stage" width="25px" height="70px" />
                }
            </span>
                <span class="time">@Math.Floor(time.TotalHours).ToString("00"):@time.Minutes.ToString("00")</span>
                <span class="timer">
                    <img runat="server" src="~/Content/svg/d_clock@(i++ % 9).svg" alt="1 perc" width="60px" height="60px" />
                    <span class="action">
                        <img runat="server" src="@dir.IconUrl" alt="1 perc" width="60px" height="60px" />
                    </span>
                </span>
                <div class="direction">
                    <span class="directioncontent">
                        @foreach (MrKupido.Library.IDirectionSegment segment in dir.DirectionSegments)
                        {
                            if (segment is MrKupido.Processor.Model.RecipeDirectionSegmentReference)
                            {
                                MrKupido.Processor.Model.RecipeDirectionSegmentReference refSegment = (MrKupido.Processor.Model.RecipeDirectionSegmentReference)segment;

                                if (!String.IsNullOrEmpty(refSegment.IconUrl))
                                {
                                    <img runat="server" src="@refSegment.IconUrl" alt="@refSegment.Id" title="@refSegment.Id" width="32px" height="32px"/>
                                }

                                @refSegment.Text
                            }
                            else
                            {
                                @segment
                            }
                        }
                    </span>
                </div>
            </li>
                        time = time + dir.TimeToComplete;
    }
        }
    </ul>
}