@model MrKupido.Library.IDirection[]

    <script type="text/javascript">
        function makeStruct(names) {
            var names = names.split(' ');
            var count = names.length;
            function constructor() {
                for (var i = 0; i < count; i++) {
                    this[names[i]] = arguments[i];
                }
            }
            return constructor;
        }

        var DirectionItem = makeStruct("id image timeInSecs");

        var timerCounter = 0;
        var directionItems;

        var timer = new wTimer({
            fps: 5,
            run: function () {
                timerCounter += 0.2;
                var currentTimeInSeconds = 0

                if (typeof directionItems == 'undefined') {
                    directionItems = new Array(100);
                    $("img[id^='clock_']").each(function (i, item) {

                        directionItems[i] = new DirectionItem(item["id"], item, parseInt(item["id"].substring(6) - currentTimeInSeconds, 10));
                        currentTimeInSeconds += directionItems[i].timeInSecs;
                    });
                }

                currentTimeInSeconds = 0;
                var currentIndex = 0;

                while ((directionItems[currentIndex] != null) && (directionItems[currentIndex].timeInSecs + currentTimeInSeconds <= timerCounter)) {
                    directionItems[currentIndex].image["src"] = "./../../Content/svg/d_clock8.svg";

                    currentTimeInSeconds += directionItems[currentIndex].timeInSecs;
                    currentIndex++;
                }

                if (directionItems[currentIndex] != null) {
                    var imgIndex = Math.floor(((timerCounter - currentTimeInSeconds) / directionItems[currentIndex].timeInSecs) * 8 + 1);

                    directionItems[currentIndex].image["src"] = "./../../Content/svg/d_clock" + imgIndex + ".svg";
                    currentTimeInSeconds += directionItems[currentIndex].timeInSecs;
                    currentIndex++;
                }

                while (directionItems[currentIndex] != null) {
                    directionItems[currentIndex].image["src"] = "./../../Content/svg/d_clock0.svg";

                    currentTimeInSeconds += directionItems[currentIndex].timeInSecs;
                    currentIndex++;
                }

            }
        });
    </script>

@if (Model == null)
{
    <span class="unknown">Az étel elkészítése jelenleg ismeretlen</span>
}
else
{ 
    <ul id="directions">
        @{ 
    int i = 0;
    TimeSpan time = new TimeSpan();
    foreach (MrKupido.Library.IDirection dir in Model)
    {
            <li><span class="stage">
                @if (dir.Stage == MrKupido.Library.RecipeStage.Preparation)
                {
                    <img runat="server" src="~/Content/svg/stage_preparation.svg"  alt="@dir.Stage" width="25px" height="70px" />
                }
                else if (dir.Stage == MrKupido.Library.RecipeStage.Cooking)
                {
                    <img runat="server" src="~/Content/svg/stage_cooking.svg"  alt="@dir.Stage" width="25px" height="70px" />
                }
                else if (dir.Stage == MrKupido.Library.RecipeStage.Serving)
                {
                    <img runat="server" src="~/Content/svg/stage_serving.svg"  alt="@dir.Stage" width="25px" height="70px" />
                }
            </span>
                <span class="time">@Math.Floor(time.TotalHours).ToString("00"):@time.Minutes.ToString("00")</span>
                <span class="timer">
                    <img runat="server" id="clock_@((time + dir.TimeToComplete).TotalSeconds)" src="~/Content/svg/d_clock0.svg" alt="1 perc" width="60px" height="60px" />
                    <span class="action">
                        <img runat="server" src="@dir.IconUrl" alt="1 perc" width="60px" height="60px" onclick="javascript: timerCounter = @((time).TotalSeconds); timer.start();" />
                    </span>
                </span>
                <div class="direction">
                    <span class="directioncontent">
                        @foreach (MrKupido.Library.IDirectionSegment segment in dir.DirectionSegments)
                        {
                            if (segment is MrKupido.Processor.Model.RecipeDirectionSegmentReference)
                            {
                                MrKupido.Processor.Model.RecipeDirectionSegmentReference refSegment = (MrKupido.Processor.Model.RecipeDirectionSegmentReference)segment;

                                if (!String.IsNullOrEmpty(refSegment.IconUrl))
                                {
                                        <img runat="server" src="@refSegment.IconUrl" alt="@refSegment.IconAlt" title="@refSegment.IconAlt" width="32px" height="32px" />
                                }

                                if (refSegment.Id > 0)
                                {
                                    <span>@refSegment.Id</span>
                                }

                                @refSegment.Text
                            }
                            else
                            {
                                @segment
                            }
                        }
                    </span>
                </div>
            </li>
                        time = time + dir.TimeToComplete;
    }
        }
    </ul>
}