@model object[]
@{
    ViewBag.Title = String.Format(MrKupido.Web.Resources.Recipe.Details.PageTitle, ((MrKupido.Processor.Model.RecipeTreeNode)Model[0]).LongName) + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle; ;
}
@using MrKupido.Web.Models
@this.ScriptBlock(
    @<script type="text/javascript">
         var popupToClose = null;

         function isDescendant(parent, child) {
             var node = child.parentNode;
             while (node != null) {
                 if (node == parent) {
                     return true;
                 }
                 node = node.parentNode;
             }
             return false;
         }

         $(document).ready(function () {
             deleteFilter("", false);

             $(document).click(function (e)
             {
                 if ((popupToClose != null) && (!isDescendant(popupToClose[0], e.toElement))) {
                     popupToClose.animate({ opacity: '0.00' }, 500, "easeInOutCubic", function () { popupToClose.toggle(); popupToClose = null; });

                     e.preventDefault();
                     e.stopPropagation();
                 }
             });

             $(".portionselector-trigger").click(function (e) {
                 if (popupToClose == null) {
                     $("#portionselector").toggle().animate({ opacity: '1.00' }, 500, "easeInOutCubic");
                     popupToClose = $("#portionselector");

                     e.preventDefault();
                     e.stopPropagation();
                 }
             });             
         });

         $(function () {
             $("#portionslider").slider({
                 value: 1000,
                 min: 500,
                 max: 1500,
                 step: 250,
                 slide: function (event, ui) {
                     $("#portionamount").val(ui.value + " kcal");
                     refreshAll(ui.value);
                 }
             });
             $("#portionamount").val($("#portionslider").slider("value") + " kcal");
         });

         function portionAdd() {
             var counterValue = parseInt($("#portioncountervalue").html(), 10);

             if (counterValue < 99) {
                 counterValue++;
             }

             refreshPortionValue(counterValue);
         }

         function portionSubtract() {
             var counterValue = parseInt($("#portioncountervalue").html(), 10);

             if (counterValue > 1) {
                 counterValue--;
             }

             refreshPortionValue(counterValue);
         }

         function refreshPortionValue(counterValue) {
             $("#portioncountervalue").html(counterValue);

             $("#portionimage_1").addClass("hidden");
             $("#portionimage_2").addClass("hidden");
             $("#portionimage_3").addClass("hidden");
             $("#portionimage_4").addClass("hidden");
             $("#portionimage_5").addClass("hidden");

             if (counterValue == 1) {
                 $("#portionimage_1").removeClass("hidden");
             } else if (counterValue == 2) {
                 $("#portionimage_2").removeClass("hidden");
             } else if (counterValue == 3) {
                 $("#portionimage_3").removeClass("hidden");
             } else if (counterValue == 4) {
                 $("#portionimage_4").removeClass("hidden");
             } else {
                 $("#portionimage_5").removeClass("hidden");
             }

             refreshAll();
         }

         function refreshAll(portionValue) {
             var portion = (portionValue != null ? portionValue : $("#portionslider").slider("value"));
             var multiplier = parseInt($("#portioncountervalue").html(), 10);

             $.ajax({
                 url: '@Url.Action("GetNewStrings", "Recipe")',
                type: "POST",
                dataType: "html",
                data: {
                    portion: portion,
                    multiplier: multiplier
                },
                success: function (json) {
                    var data = $.parseJSON(json);
                    $('div#equipmentlist h3').html(data[0]);
                    $('div#ingredientlist h3').html(data[1]);
                    $('div#directionlist h3').html(data[2]);
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                }
            });   // ajax

            $.ajax({
                url: '@Url.Action("GetIngredients", "Recipe")',
                type: "POST",
                dataType: "html",
                data: {
                    portion: portion,
                    multiplier: multiplier
                },
                success: function (data) {
                    $('div#_RecipeIngredients').html(data);
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error");
                    console.log(xhr);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });   // ajax

            $.ajax({
                url: '@Url.Action("GetDirections", "Recipe")',
                type: "POST",
                dataType: "html",
                data: {
                    portion: portion,
                    multiplier: multiplier
                },
                success: function (data) {
                    $('div#_RecipeDirections').html(data);
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error");
                    console.log(xhr);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });   // ajax
        }
    </script>
)

<header>
    @{ Html.RenderPartial("_SearchHeader"); }
</header>
<hr class="single" />
<article>
    <details id="recipe" open class="alwaysopen">
        <summary>
            <h1>
                @{string name = ((MrKupido.Processor.Model.RecipeTreeNode)Model[0]).LongName;}
                @name</h1>
            <hr class="single" />
            <h3>
                @{string version = ((MrKupido.Processor.Model.RecipeTreeNode)Model[0]).Version;}
                @version</h3>
            <hr class="single" />
        </summary>
        <div style="display: none">
            <div id="taglist">
                <div id="_RecipeTags">
                    @*@{ Html.RenderPartial("_RecipeTags", Model[1]); }*@
                </div>
            </div>
            <hr />
            <div id="equipmentlist">
                <h2>@MrKupido.Web.Resources.Recipe.Details.NecessaryEquipment</h2>
                <h3>@String.Format(MrKupido.Web.Resources.Recipe.Details.EquipmentMissing, 2)</h3>
                <div id="_RecipeEquipments">
                    @*@{ Html.RenderPartial("_RecipeEquipments", (MrKupido.Library.IEquipment[])Model[2]); }*@
                </div>
            </div>
        </div>
        <hr />
        <div id="ingredientlist">
            <h2>@MrKupido.Web.Resources.Recipe.Details.Ingredients</h2>
            <h3 class="portionselector-trigger">@String.Format(MrKupido.Web.Resources.Recipe.Details.PortionHint, 1)</h3>
            <div id="portionselectorwrapper">
                <div id="portionselector">
                    <div id="portionsliderblock">
                        <img id="portionsmall" runat="server" src="~/Content/svg/icon_figuresmall.svg" width="12px" height="35px" />
                        <div id="portionsliderandtext">
                            <input type="text" id="portionamount" />
                            <br />
                            <div id="portionslider">
                                <img id="portionslidersigns" runat="server" src="~/Content/svg/icon_slidersigns.svg" width="204px" height="10px" />
                            </div>
                        </div>
                        <img id="portionbig" runat="server" src="~/Content/svg/icon_figurebig.svg" width="18px" height="35px" />
                    </div>
                    <div id="portioncounterblock">
                        <div id="portioncountertext">x <span id="portioncountervalue">1</span></div>
                        <img id="portionimage_1" runat="server" src="~/Content/svg/crowd_1.svg" width="45px" height="35px" />
                        <img id="portionimage_2" runat="server" src="~/Content/svg/crowd_2.svg" width="45px" height="35px" class="hidden" />
                        <img id="portionimage_3" runat="server" src="~/Content/svg/crowd_3.svg" width="45px" height="35px" class="hidden" />
                        <img id="portionimage_4" runat="server" src="~/Content/svg/crowd_4.svg" width="45px" height="35px" class="hidden" />
                        <img id="portionimage_5" runat="server" src="~/Content/svg/crowd_5.svg" width="45px" height="35px" class="hidden" />
                        <div id="portionbuttonblock">
                            <input type="button" id="plusbutton" value="+" onclick="portionAdd();" /><br />
                            <input type="button" id="minusbutton" value="-" onclick="portionSubtract();" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="_RecipeIngredients">
                @{ Html.RenderPartial("_RecipeIngredients", (MrKupido.Processor.Model.RuntimeIngredient[])Model[3], new ViewDataDictionary()); }
            </div>
        </div>
        <hr />
        <div id="directionlist">
            <h2>@MrKupido.Web.Resources.Recipe.Details.Directions</h2>
            <h3>@MrKupido.Web.Resources.Recipe.Details.ChefNumberOne</h3>
            <div id="_RecipeDirections">
                @{ Html.RenderPartial("_RecipeDirections", (MrKupido.Library.IDirection[])Model[4], new ViewDataDictionary()); }
            </div>
        </div>
        <div style="display: none">
            <hr />
            <div id="serving">
                <h2>@MrKupido.Web.Resources.Recipe.Details.Serving</h2>
                <div id="_RecipeServing">
                    @*@{ Html.RenderPartial("_RecipeServing", (MrKupido.Library.EquipmentGroup)Model[5]); }*@
                </div>
            </div>
            <hr />
            <div id="nutritionlist">
                <h2>@MrKupido.Web.Resources.Recipe.Details.NutritionList</h2>
                <h3>@MrKupido.Web.Resources.Recipe.Details.NutritionListDetailed</h3>
                <div id="_RecipeNutritions">
                    @*@{ Html.RenderPartial("_RecipeNutritions", (MrKupido.Library.INutritionInfo[])Model[6]); }*@
                </div>
            </div>
        </div>
    </details>
    <hr class="space" />
</article>
